<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon" style="background-color: #016672;">
              <i class="material-icons">update</i>
            </div>
            <h4 class="card-title">Actualización Reacoex</h4>
          </div>
          <div class="card-body">
            <form class="form" [formGroup]="form" (ngSubmit)="saveData()">
              <div class="row">

                <div class="col-4">
                  <mat-form-field class="example-full-width">
                    <input matInput class="form-control" type="file" multiple id="formFileDisabled" />
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field appearance="fill">
                    <mat-label>fecha</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="ingresa una fecha" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-4"> <!--BOTON-->
                  <button mat-raised-button type="submit" class="btn btn-fill btn-rose"
                    style="background-color: #016672">Actualizar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon" style="background-color: #016672;">
              <i class="material-icons">list</i>
            </div>
            <h4 class="card-title">Reacoex Corredor</h4>
          </div>
          <div class="col-6 custom-center">
            <h4 class="font-header text-center">
              SUPERINTENDENCIA FINANCIERA DE COLOMBIA
              <br> DELEGATURA PARA SEGUROS
              <br> REGISTRO DE REASEGURADORES Y CORREDORES DE REASEGUROS DEL EXTERIOR
              <br> LISTADO DE REASEGURADORES DEL EXTERIOR
            </h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <mat-form-field>
                <mat-label>Buscar...</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Busca..." #input>
                <mat-icon matSuffix >search</mat-icon>
              </mat-form-field>
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="corredores">
                  <th mat-header-cell *matHeaderCellDef class="custom-cell"> Corredores </th>
                  <td mat-cell *matCellDef="let element" class="custom-cell"> {{element.c}} </td>
                </ng-container>
                <ng-container matColumnDef="pais">
                  <th mat-header-cell *matHeaderCellDef class="custom-cell"> País </th>
                  <td mat-cell *matCellDef="let element" class="custom-cell"> {{element.pc}} </td>
                </ng-container>
                <ng-container matColumnDef="actualizacion" >
                  <th mat-header-cell *matHeaderCellDef class="custom-cell"> Actualización </th>
                  <td mat-cell *matCellDef="let element" class="custom-cell"> {{element.r}} </td>
                </ng-container>
                <ng-container matColumnDef="fecha">
                  <th mat-header-cell *matHeaderCellDef class="custom-cell"> Fecha Subida </th>
                  <td mat-cell *matCellDef="let element" class="custom-cell"> {{element.dt}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                itemsPerPageLabel='cantidad de elementos' aria-label="Select page of periodic elements">
              </mat-paginator>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>