<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon" style="background-color: #016672;">
              <i class="material-icons">storage</i>
            </div>
            <h4 class="card-title">Prima Facultativos Especial</h4>
          </div>
          <div class="card-body">
            <form class="form mb-4" [formGroup]="form" (ngSubmit)="sendForm(form.value)">
              <div class="row">

                <div class="col-3"> <!--Name-->
                  <mat-form-field appearance="fill">
                    <mat-label>Poliza</mat-label>
                    <input matInput placeholder="ingresa el ramo" formControlName="poliza1" type="text">
                    <mat-icon matSuffix>poll</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-3"> <!--id-->
                  <mat-form-field appearance="fill">
                    <mat-label>Año</mat-label>
                    <mat-select formControlName="years">
                      <mat-option *ngFor="let years of myYears" [value]="years.value">
                        {{years.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-3"> <!--id-->
                  <mat-form-field appearance="fill">
                    <mat-label>fecha</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="ingresa una fecha" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-3"> <!--id-->
                  <mat-form-field appearance="fill">
                    <mat-label>Ciudad</mat-label>
                    <input matInput placeholder="ingresa la ciudad" formControlName="ciudad" type="text">
                    <mat-icon matSuffix>location_city</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-4"> <!--id-->
                  <mat-form-field appearance="fill">
                    <mat-label>Certificado / Endoso</mat-label>
                    <input matInput placeholder="ingresa el certificado" formControlName="certificado" type="text">
                    <mat-icon matSuffix>done</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-4"> <!--id-->
                  <mat-form-field appearance="fill">
                    <mat-label>Asegurado</mat-label>
                    <input matInput placeholder="ingresa la Fecha Emision" formControlName="asegurado" type="text">
                    <mat-icon matSuffix>calendar_today</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-4"> <!--id-->
                  <mat-form-field appearance="fill">
                    <mat-label>Nit</mat-label>
                    <input matInput placeholder="ingresa el nit" formControlName="nit" type="text">
                    <mat-icon matSuffix>account_balance</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-12"> <!--BOTON-->
                  <button mat-raised-button type="button" class="btn btn-fill btn-rose" (click)="sendForm(form.value)"
                    [disabled]="form.invalid" style="background-color: #016672;">Agregar </button>
                  <button mat-raised-button type="button" class="btn btn-fill btn-rose" (click)="clearForm()"
                    style="background-color: #016672; margin-left: 10px;">Cancelar </button>
                </div>
              </div>
            </form>

            <form class="form mb-4" [formGroup]="formTwo" (ngSubmit)="sendFormTwo(formTwo.value)">
              <div class="row">
                <div class="col-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Identificación del contrato</mat-label>
                    <input matInput placeholder="ingresa el ramo" formControlName="identyContract" type="text">
                    <mat-icon matSuffix>poll</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Descripción</mat-label>
                    <input matInput placeholder="ingresa la descripcion" formControlName="descripcion" type="text">
                    <mat-icon matSuffix>poll</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-6"> <!--id-->
                  <mat-form-field appearance="fill">
                    <mat-label>Moneda</mat-label>
                    <input matInput placeholder="ingresa la Moneda" formControlName="moneda" type="text">
                    <mat-icon matSuffix>attach_money</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-3"> <!--id-->
                  <mat-form-field appearance="fill">
                    <mat-label>Inicio</mat-label>
                    <input matInput placeholder="inicio" formControlName="inicio" type="text">
                    <mat-icon matSuffix>call_made</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-3 mb-4"> <!--id-->
                  <mat-form-field appearance="fill">
                    <mat-label>Fin</mat-label>
                    <input matInput placeholder="Fin" formControlName="fin" type="text">
                    <mat-icon matSuffix>call_received</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>

                <div class="table-responsive col-12 mb-4">
                  <mat-form-field>
                    <mat-label>Buscar...</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Busca..." #input>
                  </mat-form-field>
                  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="codRamo">
                      <th mat-header-cell *matHeaderCellDef class="custom-cell" style="font-weight: bold;"> Cod ramo
                      </th>
                      <td mat-cell *matCellDef="let element" class="custom-cell"> DATA </td>
                    </ng-container>

                    <ng-container matColumnDef="ramos">
                      <th mat-header-cell *matHeaderCellDef class="custom-cell" style="font-weight: bold;"> Ramos </th>
                      <td mat-cell *matCellDef="let element" class="custom-cell"> DATA </td>
                    </ng-container>

                    <ng-container matColumnDef="sumaLimite">
                      <th mat-header-cell *matHeaderCellDef class="custom-cell" style="font-weight: bold;"> Suma Limite
                      </th>
                      <td mat-cell *matCellDef="let element" class="custom-cell"> DATA </td>
                    </ng-container>

                    <ng-container matColumnDef="primaReaseguradora">
                      <th mat-header-cell *matHeaderCellDef class="custom-cell" style="font-weight: bold;"> Prima
                        Reaseguradores </th>
                      <td mat-cell *matCellDef="let element" class="custom-cell"> DATA </td>
                    </ng-container>

                    <ng-container matColumnDef="cesion">
                      <th mat-header-cell *matHeaderCellDef class="custom-cell" style="font-weight: bold;"> % Cesión
                      </th>
                      <td mat-cell *matCellDef="let element" class="custom-cell"> DATA </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>

                <div class="col-12"> <!--BOTON-->
                  <button mat-raised-button type="button" class="btn btn-fill btn-rose"
                    (click)="sendFormTwo(formTwo.value)" [disabled]="formTwo.invalid"
                    style="background-color: #016672;">Agregar </button>
                  <button mat-raised-button type="button" class="btn btn-fill btn-rose" (click)="clearFormTwo()"
                    style="background-color: #016672; margin-left: 10px;">Cancelar </button>
                </div>
              </div>
            </form>

            <div class="col-12">
              <h2 class="text-center">Reaseguro</h2>
              <div class="table-responsive col-12 mb-4">
                <mat-form-field>
                  <mat-label>Buscar...</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="Busca..." #input>
                </mat-form-field>
                <table mat-table [dataSource]="dataSourceTwo" class="mat-elevation-z8">

                  <ng-container matColumnDef="contrato">
                    <th mat-header-cell *matHeaderCellDef class="custom-cell" style="font-weight: bold;"> Contratos
                    </th>
                    <td mat-cell *matCellDef="let element" class="custom-cell"> DATA </td>
                  </ng-container>

                  <ng-container matColumnDef="tramo">
                    <th mat-header-cell *matHeaderCellDef class="custom-cell" style="font-weight: bold;"> Tramo </th>
                    <td mat-cell *matCellDef="let element" class="custom-cell"> DATA </td>
                  </ng-container>

                  <ng-container matColumnDef="sumaRetenida">
                    <th mat-header-cell *matHeaderCellDef class="custom-cell" style="font-weight: bold;"> Suma Retenida
                    </th>
                    <td mat-cell *matCellDef="let element" class="custom-cell"> DATA </td>
                  </ng-container>

                  <ng-container matColumnDef="sumaCedida">
                    <th mat-header-cell *matHeaderCellDef class="custom-cell" style="font-weight: bold;"> Suma Cedida </th>
                    <td mat-cell *matCellDef="let element" class="custom-cell"> DATA </td>
                  </ng-container>

                  <ng-container matColumnDef="primaRetenida">
                    <th mat-header-cell *matHeaderCellDef class="custom-cell" style="font-weight: bold;"> Prima Retenida
                    </th>
                    <td mat-cell *matCellDef="let element" class="custom-cell"> DATA </td>
                  </ng-container>

                  <ng-container matColumnDef="primaCedida">
                    <th mat-header-cell *matHeaderCellDef class="custom-cell" style="font-weight: bold;"> Prima Cedida
                    </th>
                    <td mat-cell *matCellDef="let element" class="custom-cell"> DATA </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsTwo"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>

              <h2 class="text-center" style="color: #016672;">Esta información se toma del detalle del contrato facultativo especial por reasegurador</h2>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>