<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon" style="background-color: #016672;">
              <i class="material-icons">format_list_bulleted</i>
            </div>
            <h4 class="card-title">Listado de Aseguradoras</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <mat-form-field>
                <mat-label>Buscar...</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Busca..." #input>
              </mat-form-field>
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="codigo">
                  <th mat-header-cell *matHeaderCellDef> Codigo </th>
                  <td mat-cell *matCellDef="let element"> {{element.cod}} </td>
                </ng-container>
                <ng-container matColumnDef="Nombre">
                  <th mat-header-cell *matHeaderCellDef> Nombre (abreviado) </th>
                  <td mat-cell *matCellDef="let element"> {{element.c}} </td>
                </ng-container>
                <ng-container matColumnDef="RazonSocial">
                  <th mat-header-cell *matHeaderCellDef class="centered-header"> Razón Social </th>
                  <td mat-cell *matCellDef="let element" class="codigo-cell"> {{element.a2}} </td>
                </ng-container>
                <ng-container matColumnDef="Entidad">
                  <th mat-header-cell *matHeaderCellDef> Entidad </th>
                  <td mat-cell *matCellDef="let element"> {{element.nc}} </td>
                </ng-container>
                <ng-container matColumnDef="Contacto">
                  <th mat-header-cell *matHeaderCellDef class="centered-header"> Contacto </th>
                  <td mat-cell *matCellDef="let element"> {{element.n}} </td>
                </ng-container>
                <!-- agencia Column -->
                <ng-container matColumnDef="Telefono">
                  <th mat-header-cell *matHeaderCellDef> Telefono </th>
                  <td mat-cell *matCellDef="let element"> {{element.c2}} </td>
                </ng-container>
                <!-- accion Column -->
                <ng-container matColumnDef="Acción">
                  <th mat-header-cell *matHeaderCellDef>Acciones</th>
                  <td mat-cell *matCellDef="let element" class="centered-cell"><mat-icon> border_color</mat-icon></td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                itemsPerPageLabel='cantidad de elementos' aria-label="Select page of periodic elements">
              </mat-paginator>
            </div>
            <div class="col-12"> <!--BOTON-->
              <button mat-raised-button type="submit" class="btn btn-fill btn-rose" style="background-color: #016672;"
                (click)="navigate('/home/companias/insurance-carrier/update-insurer')">Actualizar Aseguradora</button>
              <button mat-raised-button type="button" class="btn btn-fill btn-rose"
                style="background-color: #016672; margin: 25px;" (click)="navigate('/home/companias/insurance-carrier/create-insurer')"
                >Crear Aseguradoras</button> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>