
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon" style="background-color: #016672;">
              <i class="material-icons">storage</i>
            </div>
            <h4 class="card-title">Listado</h4>
          </div>
          <div style="display: flex; justify-content: center; align-items: center;">
            <app-menu></app-menu>
          </div>
          <div class="card-body">
            <div class="table-responsive">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>