<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon" style="background-color: #016672;">
              <i class="material-icons">insert_chart_outlined</i>
            </div>
            <h4 class="card-title">Reseguradores</h4>
          </div>
          <div style="display: flex; justify-content: center; align-items: center;">
            <app-menu></app-menu>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <mat-form-field>
                <mat-label>Buscar...</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Busca..." #input>
              </mat-form-field>
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- codigo Column -->
                <ng-container matColumnDef="codigo">
                  <th mat-header-cell *matHeaderCellDef class="custom-cell"> Codigo </th>
                  <td mat-cell *matCellDef="let element" class="custom-cell"> {{element.cod}} </td>
                </ng-container>

                <!-- reasegurador Column -->
                <ng-container matColumnDef="Reasegurador">
                  <th mat-header-cell *matHeaderCellDef class="custom-cell"> Reasegurador </th>
                  <td mat-cell *matCellDef="let element" class="custom-cell"> {{element.e}} </td>
                </ng-container>
                <!-- reasegurador Column -->
                <ng-container matColumnDef="Calificación">
                  <th mat-header-cell *matHeaderCellDef class="custom-cell"> Calificación </th>
                  <td mat-cell *matCellDef="let element" class="custom-cell"> {{element.n}} </td>
                </ng-container>
                <!-- agencia Column -->
                <ng-container matColumnDef="Angencia">
                  <th mat-header-cell *matHeaderCellDef class="custom-cell"> Angencia </th>
                  <td mat-cell *matCellDef="let element" class="custom-cell"> {{element.ac}} </td>
                </ng-container>
                <!-- accion Column -->
                <ng-container matColumnDef="Acción">
                  <th mat-header-cell *matHeaderCellDef class="custom-cell">Acciones</th>
                  <td mat-cell *matCellDef="let element"  class="custom-cell"><mat-icon (click)="updateRecors(element)"> border_color</mat-icon></td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                itemsPerPageLabel = 'cantidad de elementos'
                aria-label="Select page of periodic elements">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12"> <!--BOTON-->
        <div class="card">
          <button mat-raised-button type="button" class="btn btn-fill btn-rose"
          style="background-color: #016672; margin: 25px;" (click)="navigate('/home/companias/insurance-carrier/create-insurer')"
          >Nueva Compañia</button> 
        </div>
      </div>
    </div>
  </div>
</div>
