<div class="col-12 text-center">
    <ul class="nav">
      <li class="nav-item">
        <!-- Single link -->
        <a (click)="navigate('home/contracts/Facultativos')" class="nav-link" style="color: #006571;">
          <p>Automaticos</p>
        </a>
      </li>
      <li class="nav-item">
        <!-- Single link -->
        <a (click)="navigate('home/contracts/Facultativos')" class="nav-link" style="color: #006571;">
          <p>Facultativos</p>
        </a>
      </li>
      <li class="nav-item">
        <!-- Single link -->
        <a (click)="navigate('home/companias/insurance-carrier')" class="nav-link" style="color: #006571;">
          <p>Cotizacion</p>
        </a>
      </li>
  
      </ul>
  </div>
