<div class="col-12 text-center">
    <ul class="nav">
      <li class="nav-item">
        <!-- Single link -->
        <a (click)="navigate('home/companias/reinsurer')" class="nav-link" style="color: #006571;">
          <p>Reasegurador</p>
        </a>
      </li>
      <li class="nav-item">
        <!-- Single link -->
        <a (click)="navigate('home/companias/corredor')" class="nav-link" style="color: #006571;">
          <p>Corredor</p>
        </a>
      </li>
      <li class="nav-item">
        <!-- Single link -->
        <a (click)="navigate('home/companias/insurance-carrier')" class="nav-link" style="color: #006571;">
          <p>Aseguradora</p>
        </a>
      </li>
  
      <li class="nav-item">
        <!-- Single link -->
        <a (click)="navigate('home/companias/intermediary')" class="nav-link" style="color: #006571;">
          <p>Intermediario</p>
        </a>
      </li> 
      <li class="nav-item">
        <!-- Single link -->
        <a (click)="navigate('home/companias/info/directorio')" class="nav-link" style="color: #006571;">
          <p>Info</p>
        </a>
      </li>
      <li class="nav-item">
        <!-- Single link -->
        <a (click)="navigate('home/companias/clients')" class="nav-link" style="color: #006571;">
          <p>Clientes y Proveedores</p>
        </a>
      </li>
      <li class="nav-item">
        <!-- Single link -->
        <a (click)="navigate('home/companias/reacoex')" class="nav-link" style="color: #006571;">
          <p>Reacoex</p>
        </a>
      </li>
      </ul>
  </div>
