<div class="wrapper">
    <div class="sidebar" data-color="white">
        <app-sidebar-cmp></app-sidebar-cmp>
        <div class="sidebar-background" style="background-image: url('https://systemresolution.com/New/assets/img/logo_original.png'); background-repeat: repeat-y; background-size: cover; background-position: center; --bubble-color: #016672; --dropdown-color: #fff;"></div>
    </div>
    <div class="main-panel">
        <app-navbar-cmp></app-navbar-cmp>
        <router-outlet></router-outlet>
        <div *ngIf="!isMap()">
            <app-footer-cmp></app-footer-cmp>
        </div>
    </div>
    <app-fixedplugin></app-fixedplugin>
</div>