<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon" style="background-color: #016672;">
              <i class="material-icons">storage</i>
            </div>
            <h4 class="card-title">Listado de Corredores</h4>
          </div>
          <!-- MENU -->
          <div style="display: flex; justify-content: center; align-items: center;">
            <app-menu></app-menu>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="codigo">
                  <th mat-header-cell *matHeaderCellDef> Codigo </th>
                  <td mat-cell *matCellDef="let element"> {{element.cod}} </td>
                </ng-container>

                <!-- reasegurador Column -->
                <ng-container matColumnDef="Nombre">
                  <th mat-header-cell *matHeaderCellDef> Nombre (abreviado) </th>
                  <td mat-cell *matCellDef="let element"> {{element.c}} </td>
                </ng-container>
                <!-- reasegurador Column -->
                <ng-container matColumnDef="RazonSocial">
                  <th mat-header-cell *matHeaderCellDef class="centered-header"> Razón Social </th>
                  <td mat-cell *matCellDef="let element" class="codigo-cell"> {{element.a2}} </td>
                </ng-container>
                <!-- agencia Column -->
                <ng-container matColumnDef="Contacto">
                  <th mat-header-cell *matHeaderCellDef class="centered-header"> Contacto </th>
                  <td mat-cell *matCellDef="let element"> {{element.n}} </td>
                </ng-container>
                <!-- agencia Column -->
                <ng-container matColumnDef="Telefono">
                  <th mat-header-cell *matHeaderCellDef> Telefono </th>
                  <td mat-cell *matCellDef="let element"> {{element.c2}} </td>
                </ng-container>
                <!-- accion Column -->
                <ng-container matColumnDef="Acción">
                  <th mat-header-cell *matHeaderCellDef>Acciones</th>
                  <td mat-cell *matCellDef="let element" class="centered-cell"><mat-icon> border_color</mat-icon></td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12"> <!--BOTON-->
        <div class="card">
          <button mat-raised-button type="button" class="btn btn-fill btn-rose"
            style="background-color: #016672; margin: 25px;"
            (click)="navigate('/home/companias/insurance-carrier/create-insurer')">Nueva Compañia</button>
        </div>
      </div>
    </div>
  </div>
</div>